In [1]:
import os
os.chdir('../')
from utils.data_loader import DataLoader
from config import settings
from utils.ml.validate import *
from utils.constants import *

In [2]:
path = f'{os.getcwd()}\\data\\iris.csv'

In [3]:
dloder = DataLoader(path)

In [4]:
df = dloder.load()

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### co trzeba zrobić w data processing
1. walidacja danych
    - czy potrzebne kolumny istnieją
    - czy kolumna targetem nie jest pusta
    - na podstawie tego wyswietl prosty raport z podsumowaniem


- zadycytuj ktore a kolumna to X a ktora y
- wyodrębnij numeryczne i kategoryczne
- zbuduj odpowiedni pipeline

In [8]:
check_if_columns_exist(df, REQUIRED_COLUMNS)

In [9]:
check_target_col_not_empty(df, TARGET_COLUMN)

In [10]:
printout_basic_report(df, TARGET_COLUMN)

Rows: 150
Columns: 5
Missing values per column: sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64
Target distribution
: species
setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: proportion, dtype: float64