In [1]:
import os
os.chdir('../')
from utils.data_loader import DataLoader
from config import settings
from utils.ml.validate import *
from utils.constants import *

In [2]:
path = f'{os.getcwd()}\\data\\iris.csv'

In [3]:
dloder = DataLoader(path)

In [4]:
df = dloder.load()

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### co trzeba zrobić w data processing
1. walidacja danych
    - czy potrzebne kolumny istnieją
    - czy kolumna targetem nie jest pusta
    - na podstawie tego wyswietl prosty raport z podsumowaniem

2. split i save
    - podzial na X i y
    - podzial na train test

- zadycytuj ktore a kolumna to X a ktora y
- wyodrębnij numeryczne i kategoryczne
- zbuduj odpowiedni pipeline

In [14]:
X = df.drop(columns=['species'])
y = df['species']

type(y)

pandas.Series

In [15]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [22]:
y_train

71     versicolor
46         setosa
114     virginica
143     virginica
122     virginica
          ...
90     versicolor
15         setosa
106     virginica
5          setosa
58     versicolor
Name: species, Length: 112, dtype: str